.navbar-inverse {
    background-color: #31708f;
    border-color: #d9edf7;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #eee;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #31708f;
    border-color: #d9edf7;
}
.panel-default>.panel-heading {
    color: #fff;
    background-color: #31708f;
    border-color: #d9edf7;
}

.btn-primary {
    color: #fff;
    background-color: #31708f;
    border-color: #d9edf7;
}

